In [11]:
import pandas as pd
df = pd.DataFrame(columns = ["Courses", "Fee", "Duration","Discount"])
# Change the row indexes
df["courses"] =  [[1], [3], [1,2]]
display(df)
print(df["courses"][1])

  Courses  Fee Duration Discount courses
0     NaN  NaN      NaN      NaN     [1]
1     NaN  NaN      NaN      NaN     [3]
2     NaN  NaN      NaN      NaN  [1, 2]

[3]